<%= flash_tag %>
<div class="notice">
	<h1>关于征求对国家汉办作风建设意见的通知</h1>
	<p>各孔子学院中方院长、教师和志愿者：</p>
	<p>　　衷心感谢您为孔子学院建设所付出的辛勤努力和做出的重要贡献！根据教育部关于深入开展党的群众路线教育实践活动的统一部署，为广泛深入听取对汉办和汉办领导班子的意见建议，找准突出问题，明确整改重点，确保教育实践活动取得实效，现就以下问题征求意见：</p>
	<p>　　一、国家汉办作风建设的总体情况如何？在形式主义、官僚主义、享乐主义、奢靡之风方面存在哪些突出问题？</p>
	<p>　　二、对我办进一步加强作风建设、改进为广大汉语教师志愿者服务方面有什么意见建议？</p>
	<p>　　三、关于贯彻落实《孔子学院发展规划（2012-2020年）》，办好孔子学院方面有什么意见建议？</p>
	<p>　　请于8月10日前，将《国家汉办作风情况调查表》反馈给国家汉办党委办公室。</p>
	<p class="button"><%= link_to image_tag('btn_questionnaire.png'), new_questionnaire_path %></p>
	<p>&nbsp;</p>
	<p>　　谢谢您的热情参与！</p>
	<p>&nbsp;</p>
	<p class="sign">孔子学院总部/国家汉办</p>
	<p class="sign">2013年7月20日</p>
</div>